.navBar-link__home-sver i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3); 
}
.navBar-link__chat-sver  i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3); 
}
.navBar-link__search-sver  i {
    font-size: 40px;
    margin: 0 20px; 
}
.navBar-link__user-sver  i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3); 
}

.bver-background {
    width: 100%;
    height: 88vh;
    position: relative;
}
.status-mark-bver {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color:rgb(240, 240, 235);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.status-mark-bver  i {
    font-size: 32px;
    position: absolute;
    left: 10px;
    top: 35px;
}
.status-mark-bver span {
    position: absolute;
    left: 42%;
    font-size: 25px;
    width: 200px;
}
.status-mark-bver >span > img {
    position: absolute;
    width: 30px;
    height: 30px;
}

.search-box {
    position: absolute;
    width:455px;
    height: 40px;
    top: 100px;
    left: 20px;
    border-radius: 10px;
}
.search-box input {
    width: 455px;
    height: 38px;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: -2px;
    border: 2.5px solid rgba(0,0,0,0.5);
    border-radius: 10px;
}
.search-box button {
    z-index: 2;
    position: absolute;
    right: 8px;
    top: 8px;
    border: none;
    font-size: 20px;
    background: none;
    cursor: pointer;
}
@keyframes ani {
    from {
        transform: translateY(30px);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}
.suggest{
    animation: ani 0.8s ease-in-out;
}
.recom-box {
    color: rgba(0,0,0,0.6);
    width: 456px;
    height: 400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 200px;
    left: 20px;
    animation: ani 0.8s ease-in-out;
}
.recom-box__1 {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    width: 95%;
    height: 70px;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.recom-box :hover {
   background-color: rgb(243, 238, 246);
}
.recom-box__1 img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: 5px;
    opacity: 0.6;
}
.recom-box__1-info {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.recom-box__1-info :first-child {
    font-size: 20px;
    margin-top: 6px;
    font-weight: 800;
}
.recom-box__1-info :last-child {
    font-size: 15px;
    margin-top: 15px;
}

.recom-box__2 {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    width: 95%;
    height: 70px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}
.recom-box__2 img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: 5px;
    opacity: 0.8;
}

.recom-box__3 {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.2);
    width: 95%;
    height: 70px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}
.recom-box__3 img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-left: 5px;
    opacity: 0.8;
}

.suggest {
    position: absolute;
    top: 185px;
    left: 25px;
    color: rgba(0,0,0,0.3);
    font-weight: 600;
}