
.navBar-link__home-usver i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3); 
}
.navBar-link__chat-usver  i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3);
}
.navBar-link__search-usver  i {
    font-size: 40px;
    margin: 0 20px;
    color: rgba(0,0,0,0.3); 
}
.navBar-link__user-usver  i {
    font-size: 40px;
    margin: 0 20px;
    color: black; 
}

.usver-background {
    width: 100%;
    height: 89.5vh;
    position: relative;
}
.status-mark-usver {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background-color:rgb(240, 240, 235);
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.status-mark-usver  i {
    font-size: 32px;
    position: absolute;
    left: 10px;
    top: 35px;
}
.status-mark-usver span {
    position: absolute;
    left: 43%;
    font-size: 25px;
    width: 200px;
}
.status-mark-usver >span > img {
    position: absolute;
    width: 30px;
    height: 30px;
}

.user img {
    width:80px;
    height: 80px;
    border-radius: 35px;
    border: 1px solid rgba(0,0,0,0.8);
    position: absolute;
    top: 40px;
    left: 20px;
}
.user :nth-child(3) {
    position: absolute;
    left: 120px;
    top: 64px;
    font-size: 24px;
    font-weight: 800;
}
.user :nth-child(2) {
    width: 14px;
    height: 14px;
    border-radius: 7px;
    background-color: rgb(68, 194, 68);
    position: absolute;
    top: 102px;
    left: 87px;
    border: 1px solid white;
}
.user :last-child{
    font-size: 20px;
    position: absolute;
    top: 70px;
    right: 60px;
    color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.line {
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    position: absolute;
    top: 155px;
    left: 23px;
}
.fa-face-smile {
    position: absolute;
    top: 185px;
    left: 50px;
    font-size: 40px;
    opacity: 0.6;
    cursor: pointer;
}
.invitation {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 185px;
    left: 150px;
    opacity: 0.6;
    cursor: pointer;
}
.gear{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 185px;
    left: 250px;
    opacity: 0.6;
    cursor: pointer;
}